streamlit>=1.30,<2.0
openai>=1.20,<2.0
python-weather==1.0.3
langchain_community>=0.2,<0.3
langgraph>=0.3.28,<0.4
langchain-openai
nest_asyncio
pydantic==2.7.
pydantic-settings==2.3.3
azure-ai-formrecognizer==3.3.3
azure-ai-ml==1.26.3
azure-ai-projects==1.0.0b9
azure-ai-textanalytics==5.3.0
azure-ai-vision-imageanalysis==1.0.0
azure-cognitiveservices-speech==1.43.0
azure-common==1.1.28
azure-core==1.33.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-identity==1.21.0
azure-mgmt-core==1.5.0
azure-monitor-opentelemetry==1.6.8
azure-monitor-opentelemetry-exporter==1.0.0b36
azure-search-documents==11.5.2
azure-storage-blob==12.25.1
azure-storage-file-datalake==12.20.0
azure-storage-file-share==12.21.0